.TitrePanier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nbPlat {
    width: 150px;
    height: 30px;
    padding: 10px 20px;
    font-size: 28px;
    background-color: var(--boutton_acheter); 
    color: var(--texte_blanc);
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.panierCommande {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.panierPlat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.boitePlatPanier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fond_boite_menu);
    border-radius: 15px;
    width: 600px;
    height: 45px;
}

.boitePlatPanier:hover {
    border-color: var(--contour_menu); 
}

.prixPanier {
    font-size: 25px;
    font-weight: bold;
    color: var(--texte_or);     
}

.droiteBoitePanier {
    display: flex;
    gap: 25px;
    padding-right: 20px;
    font-size: 25px;
}

.gaucheBoitePanier {
    display: flex;  
    padding-left: 20px;
    font-size: 25px;
}

.retirerPlatPanier {
    background-color: var(--boutton_acheter); 
    color: var(--texte_blanc);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.retirerPlatPanier:hover {
    background-color: var(--boutton_acheter_hover);
}

.panierPayer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: var(--fond_boite_menu);
    border-radius: 15px;
    width: 330px;
    height: 400px;
    font-size: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.panierPayer:hover{
    border-color: var(--contour_menu); 
}

.espacePaye{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.surPayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--texte_blanc);
}

.payer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.payer button, .payer a {
    font-size: 20px;
    padding: 10px 20px;
    background-color: var(--boutton_acheter); 
    color: var(--texte_blanc);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

.payer button:hover,.payer a:hover {
    background-color: var(--boutton_acheter_hover);
}

@media (max-width: 768px) {
    
    .TitrePanier {
        margin-top: 150px;
    }

    .panierCommande {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        gap: 20px;
    }

    .boitePlatPanier{
        width: 95%;
    }

    .panierPlat {
        width: 95%;
    }

    .panierPayer {
        width: 90%;
        height: auto;
    }


    .nbPlat {
        font-size: 22px;
    }
}