.PosBarre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Recherche {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 15px;
}

#rechercheFor {
    width: 100%;        
    height: 100%;
    border: none;
    outline: none;      
    font-size: 28px;
}

.Recherche button {
    height: 50px;
    width: auto;
    background-color: transparent;
    border: none;
}

.Recherche button:hover {
    cursor: pointer;
}

button img {
    height: 80%;
    width: auto;
}

.filtre {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.Type, .Allergène, .Saveur{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
} 

div.filtre select{
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    width: auto;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

div.filtre select:hover{
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}


@media (max-width: 768px) {

    .Recherche {
        width: 90%;
    }

    .filtre {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }

    .Type, .Allergène, .Saveur{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    } 

}