body {
    background-image: url(../image/wok.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.effetNoir {  
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--fond_transparent); 
    z-index: -1; 
}

section {
    padding-top: 180px;
    text-align: center;
    color: var(--texte_blanc);
}

.Titre {
    font-size: 50px;
}

.Menu {
    padding-top: 50px; 
    width: 80%;
    margin: 0 auto; 
}

.MenuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.BoitePlat {
    display: flex;
    flex-direction: column;
    background-color: var(--fond_boite_menu);
    border-radius: 15px;
    overflow: hidden;
}

.BoitePlat:hover {
    border-color: var(--contour_menu); 
}

.PlatImage {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.PlatImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.BoitePlat:hover .PlatImage img {
    transform: scale(1.1);
}

.BoiteContenu {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.BoiteContenu h3 {
    margin: 0 0 10px 0;
    color: var(--texte_blanc);
    font-size: 22px;
    font-family: var(--police_texte); 
}

.description {
    color: var(--texte_gris);
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.AjoutPanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.prix {
    font-size: 25px;
    font-weight: bold;
    color: var(--texte_or); 
}

.AjouterPanier {
    padding: 10px 20px;
    background-color: var(--boutton_acheter); 
    color: var(--texte_blanc);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.AjouterPanier:hover {
    background-color: var(--boutton_acheter_hover);
}


@media (max-width: 768px) {
    section {
        padding-top: 120px;
    }
    
    .Titre {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .MenuGrid {
        grid-template-columns: 1fr;
    }

    .Menu {
        width: 95%;
    }

    .PlatImage {
        height: 180px; 
    }
}