body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f6f9;
}


.contenu {
    flex: 1;
    padding: 40px;
    background-color: #f4f6f9;
}


.filtres {
    margin-bottom: 20px;
}

.filtres-bouton {
    padding: 8px 15px;
    border: none;
    background-color: #ddd;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filtres-bouton.actif,
.filtres-bouton:hover {
    background-color: #1abc9c;
    color: white;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ecf0f1;
}


.Envoi{
    background-color: blue;
    color: white;
    font-size: 18px;
    border: none;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.Envoi:hover{
    background-color: rgb(68, 68, 68);
}
