body {
    margin: 0;
    font-family: var(--police_texte);
    display: flex;
    background-color: var(--fond_gris);
}

.contenu {
    flex: 1;
    padding: 40px;
   
}

.filtres {
    margin-bottom: 20px;
}

.filtres-bouton {
    padding: 8px 15px;
    border: none;
    background-color: var(--boutton_gris);
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filtres-bouton.actif,
.filtres-bouton:hover {
    background-color: var(--boutton_gris_hover);
    color: var(--texte_blanc);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--fond_blanc);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--contour_gris);
}

th {
    background-color: var(--fond_gris_fonce);
}

td:last-child {
    display: flex;
    gap: 15px; 
}


.Envoi {
    background-color: var(--boutton_bleu);
    color: var(--texte_blanc);
    font-size: 18px;
	font-family:inherit;
    border: none;
    text-decoration: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
}

.Envoi.rouge{
	background-color: var(--boutton_rouge);
}

.Envoi.rouge:hover{
	background-color: var(--boutton_rouge_hover);
}

.Envoi:hover {
    background-color: var(--boutton_bleu_hover);
}

