body {
    background-image: url(image/hd.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

section {
    padding-top: 130px;
    background-color: rgba(0,0,0,0.553);
}

.LogoCorp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-size: 80px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    box-sizing: border-box;
    gap: 0;
}

.typeResto {
   font-size: 50px; 
}
.LogoCorp img {
    height: 500px;
    width: auto;
}

.Presentation {
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size: 30px;
    text-align: center;
}

.Horaire {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.titreHoraire {
    font-size: 90px;
}

.tableauHoraire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 900px;
}

.blocTableau {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid white;
    justify-content: space-between;
    width: 100%;
}

.AVIS {
    padding-top: 90px;
    padding-bottom: 90px;
}

footer {
    background-color: rgba(0,0,0,0.553);
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {
    section{
        padding-top: 80px;
    }

    .LogoCorp {
        font-size: 40px;
    }

    .LogoCorp img {
        width: 50%;
        height: auto;
    }

    .typeResto{
        font-size: 20px;
    }

    .Presentation {
        padding-top: 40px;    
        padding-left: 20px; 
        padding-right: 20px;
        font-size: 18px;
    }

    .Horaire {
        padding-top: 60px; 
    }

    .titreHoraire {
        font-size: 35px;   
        margin-bottom: 20px;
        text-align: center;
    }

    .tableauHoraire {
        width: 90%;       
        font-size: 16px;   
    }

    .blocTableau {
        padding-bottom: 15px; 
        padding-top: 15px;
    }
}